@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar{
    width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb{
    background-color: rgb(132, 132, 132);
    border-radius: 20px;
}